
.container-section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--black-color);
}

.content-section1 {
    width: 90vw;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 40px;              
    margin-bottom: 60px;
}

.img-section1 {
    width: clamp(300px, 50vw, 750px);
    margin-top: 50px;
    
}

.text-section1 {
    display: flex;
    flex-direction: column;
}

.text-section1 h1 {
    font-size: 36px;
    line-height: 1.2;
}

.text-section1 h3 {
    margin-top: 15px;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.text-section1 p {
    font-size: 20px;
    margin-bottom: 30px;
}



@media (min-width: 1024px) {
    .content-section1 {
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        max-width: 90vw;
        margin-top: 250px;
    }

    .text-section1 {
        order: 1;     
        width: 45%;   
        align-items: flex-start; 
        text-align: left;        
    }

    .img-section1 {
        order: 2;      
        width: 45%;
        margin-top: 0;
        flex: 1; 
        width: 50%; 
        max-width: 550px; 
    }

    .text-section1 h1 {
        font-size: 50px;
    }
}