.container img{
    width: 25px;
}
.container{
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 5px;
    background-color: var(--white-color);
    border-radius: 30px;
    margin-top: 15px;
    padding-right: 30px;
}

@media (min-width:1024px){
    .container{
        font-size: 20px;
    }
}