@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bg-color:   #FEEDBC;
    --yellow-color: #F9B800;
    --black-color:#262626;
    --white-color: #fff;

    --font-main: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-main);
    background-color: var(--bg-color);
}